* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

main {
    height: 100vh;
    background: url('background.jpg');
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;

}

.navbar ul li {
    position: relative;
    list-style: none;
    margin-left: 35px;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: 2s;
}

.navbar ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
}

.content {
    display: flex;
    align-items: center;
    gap: 80px;
    height: 100vh;
    padding: 50px 100px 0;
    color: #fff;
}

.info h1 {
    font-size: 50px;
}

.info p {
    margin: 10px 0 25px;
}

.btn {
    display: inline-block;
    padding: 12px 50px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login-box {
    width: 450px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 50px 40px;
}

.login-box h1 {
    font-size: 36px;
    text-align: center;
    line-height: 1;
}

.login-box .input-box input {
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    padding: 13px 50px 13px 20px;
    font-size: 16px;
    color: #fff;
}

.login-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.login-box .remember-forgot label {
    display: flex;
    justify-content: space-between;
}

.login-box .remember-forgot label input {
    accent-color: #fff;
    margin-right: 6px;
}

.login-box .remember-forgot a:hover,
.login-box .remember-link a:hover {
    text-decoration: underline;
}

.login-box .btn {
    width: 100%;
    border: none;
    cursor: pointer;
}

.login-box .remember-link {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin-top: 15px;
}

.login-box .remember-link a {
    font-weight: 600;
}