/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}

/* Encabezado principal */
nav {
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 200px;

}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    color: #222222;
    text-decoration: none;
    font-weight: bolder;
}
nav a:hover {
    text-decoration: underline;
}

header {
    background-color: #e7004b;
    color: #ffffff;
    padding: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-items: center;
    z-index: 0;

}
header h1 {
    font-size: 3rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 50px 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px #ff00001a;
    z-index: 1 ;
    position: relative;
    top: -50px;
}
main figure {
    justify-items: center;
}

.contenido {
    gap:20px;
    display: flex;
    flex-direction: column;
 }