
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}
nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #54a7ff;
    color: #000000;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav  ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;

}

nav ul li a:hover {
    border-radius: 4px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 50px 50px;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 0 10px #e238381a;
}

h1 {
  color: #000000;
}

.descripcion {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

img {
  height: auto;
  max-width: 100%;
  }

footer {
  background-color: #54a7ff;
  justify-content: center;
  display: flex;
  gap: 600px;
  padding: 10px 0;
}
.contac1{
  display: flex;
}

.contac1 img{
  margin-top: 10px;
  margin: 10px;
}

.contac2{
  display: flex;

}
.contac2 img{
  margin-top: 10px;
  margin: 10px;
}
.contac3{
  display: flex;
}
.contac3 img{
  margin-top: 10px;
  margin: 10px;
}
.icons{
  height: 20px;
  width: 20px;
}

.icons_redes{
  height: 80px;
  width: 60px;
  gap: 100px;
  margin: 0 18px;
}

